<div class="text-center">
	<img class="img-fluid" src="../../assets/img/blog1.jpg" alt="" />
	<div class="my-3 mb-5">
		<h1>Women at the End of the Land</h1>
		<small>by Alegra Ally and Kim Frank</small>
	</div>
	<div class="w-50 mx-auto my-5">
		<h3>Field Journal #1</h3>
		<blockquote class="blockquote font-italic">
			I arrive in late autumn. The tundra seems vast and empty to the horizon. Only two dark pyramid-shaped
			“chums” (traditional Nenets’ tents) with tendrils of smoke rising from their tips stand out against the
			crisp blue sky.
		</blockquote>
		<div class="lead">
			<p>
				No reindeer yet. Rather, I can hear the barking of dogs as they run between a chain of sledges. I look
				around, searching for the reindeer, but only the tundra greets me. As far as the eye can see, only brown
				earth and azure sky.
			</p>
			<p>
				As I walk to explore the land, I discover the difficulty in moving before the land freezes and snow
				falls. It is very difficult to walk and I tire quickly, feeling much pain in my knees. The uneven ground
				makes it necessary to plan each step and the numerous water pods create muddy soft soil. We cannot
				travel any great distance in the sledge under these conditions as the reindeer are at risk of injury .
			</p>
			<p>
				— October 21, 2016, Yamal Peninsula, Northwest Siberia
			</p>
		</div>
	</div>
	<figure class="figure">
		<img class="img-fluid" src="../../assets/img/blog2.jpg" alt="" />
		<figcaption class="figure-caption w-75 mx-auto">
			The Northern Lights arch high above the chum of the Khudi family, while sparks fly from the stove inside.
			Each year, the family must migrate to winter grazing lands with their reindeer, but without snow passage
			across the tundra is difficult to impossible.
		</figcaption>
	</figure>
	<div class="w-50 mx-auto my-5">
		<h3>Field Journal #2</h3>
		<blockquote class="blockquote font-italic">
			It’s my first morning in the chum, and I wake to unfamiliar surroundings. Whispering in a foreign language.
			I sneak a look from my warm sleeping bag and through the darkness I see the fur head cover of Lena. Above me
			dangles boots and clothing made of fur and reindeer hide. For a moment I’m overwhelmed with the knowledge
			that I will be spending the next fifty days living in these tight quarters with this family. I wonder how
			they must feel sharing their home with a stranger. These feelings are completely balanced with the knowledge
			that kindness, generosity, open hearts and gratitude are part of a universal language. No matter where we
			are born, we share these common human expressions. And so, the first moment we make eye contact, we are all
			sharing smiles.
		</blockquote>
		<div class="lead">
			— October 22, 2016, Yamal Peninsula, Northwest Siberia
		</div>
	</div>
	<figure class="figure">
		<img class="img-fluid" src="../../assets/img/blog3.jpg" alt="" />
		<figcaption class="figure-caption w-75 mx-auto">
			Once the ground has frozen and a deep enough layer of snow has settled, Lena and her family can pack up
			their home and belongings onto their traditional wooden sledges, pulled by reindeer, and embark on their
			annual migration to find winter grazing lands for their herd.
		</figcaption>
	</figure>

	<div class="w-50 mx-auto my-5">
		<h3>“Yamal” or at the end of the world</h3>
		<blockquote class="blockquote font-italic">
			Living in small chums constructed of reindeer hides and log poles, and often separated from their nearest
			neighbor by a day’s snowmobile drive, the nomadic Nenets herders trek every winter along ancient migration
			routes across the vast Siberian tundra along the Yamal Peninsula. In their native language, “Yamal” means
			“the end of the world.” Herding hundreds of reindeer and surviving daily in extreme arctic conditions, many
			Nenets families maintain their traditions — adapting them, where useful and necessary, in response to the
			increasing pressures of their changing world.
		</blockquote>
	</div>
</div>
<!-- Credits:  Alegra Ally & Kim Frank, https://maptia.com/alegraally/stories/women-at-the-end-of-the-land
Using Content and Images for educational purposes only -->
